input[type="radio"] {
    display: none;
}

label .fa-star {
    color: grey;
    font-size: 52px;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover .fa-star,
label:hover ~ label .fa-star {
    color: orange;
}

input[type="radio"]:checked~label .fa-star {
    color: orange;
}

@media screen and (max-width: 480px) { 
    label .fa-star {
        font-size: 40px;
    }
}